## Python Basics

In [1]:
2+3

5

In [2]:
x = 7

In [3]:
x **= 2

In [4]:
x

49

In [5]:
10 % 3

1

### Tuples and Lists

In [ ]:
tuple_months = ('January','February','March','April','May','June',\
'July','August','September','October','November','December')

In [ ]:
tuple_months

In [ ]:
list_cats = ['Tom', 'Snappy', 'Kitty', 'Jessie', 'Chester']

In [ ]:
list_cats

In [ ]:
print(list_cats[2])

In [ ]:
list_cats.append('Catherine')

In [ ]:
list_cats

In [ ]:
del list_cats[1]

In [ ]:
list_cats

### Sets

In [ ]:
my_set = {1, 2, 3}

In [ ]:
your_set = {4, 2, 5}

In [ ]:
my_set | your_set

In [ ]:
my_set & your_set

### Dictionaries

In [ ]:
CO2_by_year = {1799:1, 1800:70, 1801:74, 1802:82, 1902:215630, 2002:1733297}

In [ ]:
# Look up the emissions for the given year
CO2_by_year[1801]

In [ ]:
# Add another year to the dictionary
CO2_by_year[1950] = 734914

In [ ]:
CO2_by_year

In [ ]:
CO2_by_year[2009] = 1000000
CO2_by_year[2000] = 100000

In [ ]:
1950 in CO2_by_year

In [ ]:
1951 in CO2_by_year

In [ ]:
len(CO2_by_year)

In [ ]:
del CO2_by_year[1950]

In [ ]:
len(CO2_by_year)

In [ ]:
for key in CO2_by_year:
    print(key)

In [ ]:
for k in CO2_by_year.keys():
    print(k)

In [ ]:
for v in CO2_by_year.values():
    print(v)

In [ ]:
CO2_by_year.values()

In [ ]:
for key, value in CO2_by_year.items():
    print(key, value)
print(key)

### Functions

In [1]:
def convert_to_celsius(fahrenheit):
    ''' (number) -> number
    Return the celsius degrees equivalent to
    fahrenheit degrees.
    '''
    celsius = (fahrenheit - 32) * 5 / 9
    return celsius

In [2]:
convert_to_celsius?

convert_to_celsius(32)

In [3]:
convert_to_celsius(212)

100.0

In [4]:
convert_to_celsius(-40)

-40.0

In [5]:
def convert_to_kelvin(fahrenheit):
    ''' (number) -> number
    Return the number of kelvin degrees equivalent
    to fahrenheit degrees.
    '''
    kelvin = convert_to_celsius(fahrenheit) + 273.15
    return kelvin

In [6]:
convert_to_kelvin(32)

273.15

In [7]:
import fibo

In [8]:
fibo.fib(4)

1
1
2
3

In [9]:
ar = fibo.fib2(4)

In [10]:
ar

[1, 1, 2, 3]

### List Comprehension

$S = \{x^2 : x ~ \mbox{in} ~ \{0 ... 9\}\}$

In [11]:
range(10)

range(0, 10)

In [12]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [13]:
S = [x**2 for x in range(10)]
S

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [14]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

$V = (1, 2, 4, 8, \ldots , 2^{12})$

In [15]:
V = [2**i for i in range(13)]
V

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512, 1024, 2048, 4096]

$M = \{ x ~ | ~ x ~ {\rm in} ~ S ~ {\rm and} ~ x ~ {\rm even} \}$

In [ ]:
M = [x for x in S if x % 2 == 0]
M

In [ ]:
noprimes = [j for i in range(2, 8) for j in range(i*2, 50, i)]
primes = [x for x in range(2, 50) if x not in noprimes]
print(primes)

In [ ]:
words = 'The quick brown fox jumps over the lazy dog'.split()
print(words)

In [ ]:
stuff = [[w.upper(), w.lower(), len(w)] for w in words]
stuff

In [ ]:
for i in stuff:
    print(i)

In [ ]:
stuff = map(lambda w: [w.upper(), w.lower(), len(w)], words)
for i in stuff:
    print(i)